@keyframes floatBottom {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}

@keyframes floatTop {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes shrinkY {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.95);
    }
}

@keyframes shrinkX {
    0%, 100% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(0.95);
    }
}