footer {
    background-color: $first-color;
    max-width: 1440px;
    width: 100%;
}

.footer__container {
    @include flex-x();
    padding: 85px 0 67px 70px;
}

.footer__left {
    @include flex-y($ai: start);
    max-width: 343px;
    .copyright {
        font-family: $poppins-font;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #fff;
        a {
            color: $accent-color;
        }
    }
}

.footer__contacts {
    color: #fff;
    .text {
        @extend %text;
    }
    .small-title {
        @extend %small-title;
        margin: 7px 0 13px;
    }
    .small-text {
        @include flex-x($jc: start);
        font-family: $poppins-font;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #fff;
        a {
            @include flex-x();
            width: 100px;
            margin-left: 5px;
            color: $accent-color;
            img {
                width: 10px;
                height: 20px;
            }
        }
    }
    margin: 38px 0 88px;
}

.footer__right {
    @include flex-x();
    gap: 134px;
    max-width: 820px;
    width: 100%;
    padding: 58px 308px 61px 0;
    border-top: 1px solid $white-color;
    border-bottom: 1px solid $white-color;
    ul {
        @include flex-y($ai: start);
        gap: 9px;
        li a {
            @extend %text;
            color: #fbfbff;
        }
    }
}



/*Image settings*/
footer {
    position: relative;
    .abs--img {
        right: 0;
        bottom: 5px;
        animation: shrinkY 10s ease-out infinite;
    }
}



/*Adaptive layout*/
@media screen and (max-width: 1288px) {
    footer .abs--img {
        top: 30px;
    }
    .footer__container {
        position: relative;
        z-index: 1;
        flex-wrap: wrap-reverse;
        justify-content: center;
        padding-right: 70px;
    }    
    .footer__left {
        @include flex-x();
        flex-direction: row;
        width: 100%;
        max-width: unset;
        padding: 0 100px;
        gap: 50px;
        margin-top: 50px;
        .copyright {
            text-align: center;
        }
    }
    .footer__contacts {
        margin: 0;
    }
    .footer__right {
        flex-wrap: wrap;
        max-width: unset;
        justify-content: center;
        padding: 58px 0 61px 0;
    }
}

@media screen and (max-width: 958px) {
    .footer__left {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__contacts {
        text-align: center;
        .small-text {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 658px) {
    .footer__right {
        @include flex-y();
        gap: 50px;
        ul {
            gap: 20px;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    .footer__left {
        padding: 0 5%;
    }
}