.slider {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    background-size: initial;
    background-position: center;
    overflow: hidden;
    &-left {
        background-image: url(../../img/slider-left.svg)
    }
    &-right {
        background-image: url(../../img/slider-right.svg)
    }
    &-highlight:hover {
        border-radius: 5px;
        border: 2px solid $accent-color;
    }
}