//Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


//Base
@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';


//Core
@import 'core/reset';


//Components
@import 'components/href';
@import 'components/button';
@import 'components/list-text';
@import 'components/slider';


//Layout
@import 'layout/header';

@import 'layout/main/about';
@import 'layout/main/features';
@import 'layout/main/pricing';
@import 'layout/main/team';
@import 'layout/main/faq';
@import 'layout/main/feedback';
@import 'layout/main/blog';
@import 'layout/main/contact';

@import 'layout/main/advantages';
@import 'layout/main/media';

@import 'layout/footer';



/*General styles*/
html {
    scroll-behavior: smooth;
}

body {
    @include flex-y();
    background-color: #a4b3b5;
    overflow-x: hidden;
}

main {
    max-width: 1440px;
    width: 100%;
    background-color: #FFFFFF;
}

.abs--img {
    position: absolute;
    max-width: 100%;
    height: auto;
}



/*Finalization adaptive layout for phones*/
@media screen and (max-width: 528px) {
    #pricing, #contact, #features {
        .abs--img2 {
            display: none
        }
    }
    #features {
        .abs--img3 {
            display: none;
        }
    }
    .advantages .abs--img1 {
        display: none;
    }
    header {
        .header__container {
            padding-left: 30px;
            padding-right: 30px;
        }
        .header__middle__top .title {
            font-size: 60px;
        }
    }
    #about {
        .about__container {
            padding-left: 30px;
            padding-right: 30px;
        }
        .about__left .title {
            font-size: 60px;
        }
        .about__item__right p {
            font-size: 60px;
        }
    }
    #features {
        .features__container {
            padding-left: 30px;
            padding-right: 30px;
        }
        .features__item {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .advantages-video {
        .advantages-video__container {
            padding: 50px 30px 0;
        }
        .advantages-video__top, .advantages-video__bottom {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .advantages {
        .advantages__bottom {
            padding: 0 30px;
        }
    }
    #pricing {
        .pricing__container {
            padding-left: 30px;
            padding-right: 30px;
        }
        .pricing__top {
            margin-right: 0;
        }
        .pricing__bottom {
            padding-right: 0;
        }
        .pricing__item {
            padding: 45px 30px 52px;
        }
    }
    #team {
        .team__container {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    #faq {
        .faq__container {
            padding-left: 30px;
            padding-right: 30px;
        }
        .faq__item {
            padding-left: 0;
            img {
                margin-right: 30px;
            }
            p {
                font-size: 30px;
            }
        }
    }
    #feedback {
        .feedback__container {
            padding-left: 30px;
            padding-right: 30px;
        }
        .feedback__top, .feedback__bottom {
            margin-right: 0;
        }
        .feedback__bottom {
            padding: 50px 30px;
        }
        .feedback__info__middle {
            margin-right: 0;
            text-align: center;
        }
        .feedback__avatar {
            @include flex-y();
        }
    }
    #blog .blog__item {
        padding-left: 30px;
        padding-right: 30px;
        img {
            max-width: 100%;
            height: auto;
        }
        .subtitle {
            font-size: 25px;
        }
        &-left {
            padding-left: 0;
            padding-right: 30px;
        }
        &-right {
            padding-left: 30px;
            padding-right: 0;
        }
    }
    #contact {
        .contact__container {
            padding: 0 30px 50px;
        }
        .contact__top, .contact__bottom {
            margin-right: 0;
        }
        .contact__left {
            padding: 0;
        }
        textarea {
            height: 300px;
        }
    }
    #media {
        .media__container {
            padding-left: 30px;
            padding-right: 30px;
        }
        .media__bottom {
            gap: 10px;
        }
        .media__list {
            width: 200px;
            gap: 0;
            display: none;
        }
    }
}